@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.date-picker {
  @apply w-full rounded border-0 py-1.5 px-2  text-[rgba(234,234,239,255)] bg-[rgba(13,13,14,255)] ring-1 ring-inset ring-[rgba(67,72,78,255)] focus:bg-[rgba(17,20,35,255)] sm:text-sm sm:leading-6
}